<!DOCTYPE html>
<html>
    <body>
        
        <p>
            <font face = "monospace" size = "3" >mwoodjr@website:~$ ./start.sh 
            <center><br/> <br/>Miguel Wood Jr.poopy
            <br/>15 years old | Owner/Founder of Tabletop Development
            <br/> <br/><strong>Projects:</strong>
            <br/> <br/><a href="https://top.gg/bot/868978031522357300" >Deez Nuts</a>
            <br/> <br/><strong>Skills:</strong>
            <br/> <br/>JavaScript (2 Years Self-Taught)
            <br/>Python (Learning every now and then)
            <br/>MongoDB
            <br/>Azure
            <br/> <br/><strong>Contact Info (for business inquirys only):</strong>
            <br/> <br/>Email: miguel@mwoodjr.com
            <br/>Discord: Miguelito#0001
            
        </center>
        </p>
        </font>
    </body>
</html>
